@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 0%;
  --foreground: 0 0% 98%;
  --primary: 120 61% 24%; /* Dark green */
  --primary-foreground: 0 0% 98%;
  --secondary: 240 3.7% 15.9%; /* Dark grey */
  --secondary-foreground: 0 0% 98%;
  --accent: 120 61% 24%; /* Dark green */
  --accent-foreground: 0 0% 98%;
  --font-sans: 'Space Grotesk', sans-serif;
}

body {
  @apply bg-background text-foreground;
  font-feature-settings: "ss01" 1, "ss02" 1, "ss03" 1, "ss04" 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
